/* Reset */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;400;500;700&display=swap");
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style: none;
}

/* Font */
/* Variable */
/* Style */
body {
  font-family: "Poppins", sans-serif;
}

/* Header */
.header .header-banner {
  background-image: url(../img/bg-only.svg);
  background-size: cover;
  width: 100%;
  /* Responsive */
  /* Navbar */
  /* Akhir Navbar */
}

@media screen and (max-width: 576px) {
  .header .header-banner {
    background-image: url(../img/bg-sm.svg);
  }
}

.header .header-banner .custom-nav .navbar-brand img {
  width: 55px;
}

.header .header-banner .custom-nav #navbarNav .navbar-nav .nav-item .nav-link {
  color: #f5f5f5;
  font-weight: 500;
  text-transform: uppercase;
  margin-left: 2.5em;
  -webkit-transition: 0.3s color ease;
  transition: 0.3s color ease;
}

.header .header-banner .custom-nav #navbarNav .navbar-nav .nav-item .nav-link:hover {
  color: #102524;
}

@media screen and (max-width: 992px) {
  .header .header-banner .custom-nav #navbarNav .navbar-nav .nav-item .nav-link {
    margin-left: auto;
  }
}

.header .header-banner .custom-nav #navbarNav .navbar-nav .nav-item .active {
  background-color: #3f8f8b;
}

@media screen and (max-width: 992px) {
  .header .header-banner .custom-nav #navbarNav .navbar-nav {
    background-color: #4daaa7;
  }
}

/* Caption Banner */
.container {
  /* Akhir Caption Banner */
}

.container .caption-banner .row .col-lg-4 {
  margin-top: 25%;
}

.container .caption-banner .row .col-lg-4 h1 {
  font-size: 2.5em;
  color: #f5f5f5;
}

.container .caption-banner .row .col-lg-4 h2 {
  font-size: 1.3em;
  color: #f5f5f5;
}

.container .caption-banner .row .col-lg-8 {
  margin-top: 20%;
  /* Ilustrasi Banner */
  /* Akhir Ilustrasi Banner*/
  /* Responsive */
}

.container .caption-banner .row .col-lg-8 img {
  width: 40vmax;
}

@media screen and (max-width: 576px) {
  .container .caption-banner .row .visible {
    visibility: hidden !important;
  }
}

/* Akhir Header */
/* Main */
.main {
  padding-top: 30px;
  /* Media Sosial */
  /* Akhir Media Sosial*/
}

.main .container {
  background-color: #f5f5f5;
}

.main .container .media-sosial {
  padding: 200px 0;
  /* Responsive */
}

@media screen and (max-width: 768px) {
  .main .container .media-sosial {
    padding: 100px 0;
  }
}

.main .container .row .col-lg-2 {
  text-align: center;
}

.main .container .row .col-lg-2 a {
  text-align: center;
  font-size: 100px;
  color: #4daaa7;
  margin: 0 16px;
  -webkit-transition: 0.4s linear;
  transition: 0.4s linear;
  position: relative;
}

.main .container .row .col-lg-2 a::before, .main .container .row .col-lg-2 a::after {
  content: "";
  position: absolute;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  -webkit-transition: 0.4s linear;
  transition: 0.4s linear;
}

.main .container .row .col-lg-2 a:hover {
  -webkit-transform: scale(0.8);
          transform: scale(0.8);
}

.main .container .row .col-lg-2 a:hover::before {
  border-left: 4px solid;
  border-right: 4px solid;
  -webkit-transform: skewX(20deg);
          transform: skewX(20deg);
}

.main .container .row .col-lg-2 a:hover::after {
  border-top: 4px solid;
  border-bottom: 4px solid;
  -webkit-transform: skewY(-20deg);
          transform: skewY(-20deg);
}

/* Akhir Main */
/* Footer */
.footer {
  padding-top: 20px;
  background-color: #333;
  color: #f5f5f5;
  margin-top: 10px;
  text-align: center;
}

.footer .container .row .col-lg-6 ul,
.footer .container .row .col-sm ul {
  padding-left: 0;
}

.footer .container .row .col-lg-6 img,
.footer .container .row .col-sm img {
  width: 115px;
}

.footer .container .row .col-lg-6 a,
.footer .container .row .col-sm a {
  text-decoration: none;
  color: #f5f5f5;
}

.footer .container .row .col-lg-6 a:hover,
.footer .container .row .col-sm a:hover {
  color: #4daaa7;
}

/* Akhir Footer*/
/*# sourceMappingURL=kontak.css.map */