/* Reset */
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
}

body {
    font-family: "Poppins", sans-serif;
}
  
a {
    text-decoration: none;
}

nav {
    position: fixed;
    top: 0;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 70px;
    background-color: whitesmoke;
    font-family: "Poppins", sans-serif;
    z-index: 10;
}

.logo img{
    width: 45%;
}

.nav-links {
    display: flex;
    justify-content: space-around;
    width: 30%;
}

.nav-links li {
    list-style: none;
}

.nav-links a {
    color: #4daaa7;
    text-decoration: none;
    letter-spacing: 3px;
    font-weight: bold;
    font-size: 14px;
}

.nav-links a:hover {
    color: #376e6c;
}

.burger {
    display: none;
}

.burger div {
    width: 25px;
    height: 3px;
    background-color: #3f8f8b;
    margin: 5px;
    transition: all 0.3s ease;
}

.clear {
    clear: left;
}
  
.container {
    max-width: 1170px;
    width: 100%;
    padding: 0 15px;
    margin: 0 auto;
}
  
.top-wrapper {
    padding: 180px 0 100px 0;
    background-image: url(../img/bg.png);
    background-size: cover;
    color: white;
    text-align: center;
}
  
.top-wrapper h1 {
    opacity: 0.9;
    font-size: 45px;
    letter-spacing: 5px;
    margin-bottom: 10px;
}
  
.top-wrapper p {
    opacity: 0.9;
    margin-bottom: 3px;
    font-size: 18px;
}
  
.logo {
    width: 124px;
    margin-top: 5px;
}

.article-wrapper {
    width: 100%;
    padding-bottom: 80px;
    padding-left: 10%;
    padding-right: 10%;
    background-color: #f7f7f7;
    text-align: left;
}
  
.heading {
    padding-top: 80px;
    padding-bottom: 50px;
    color: #5f5d60;
}
  
.heading h2 {
    font-weight: normal;
    font-size: 30px;
}

.subheading {
    padding-top: 5px;
    padding-bottom: 3px;
    color: #5f5d60;
}

.article {
    float: left;
    width: 100%;
}
  
.article-icon {
    position: relative;
    text-align: center;
}

.article-icon p {
    position: absolute;
    top: 44%;
    width: 100%;
    color: white;
}
  
.text-contents {
    display: inline-block;
    margin-top: 15px;
    font-size: 20px;
    color: #333;
    line-height: 1.5;
}

.text-contents a:link{
    color: #4daaa7;
}

.text-contents a:visited{
    color: #4daaa7;
}

.author {
    margin: 15px 0;
}
  
footer img {
    width: 125px;
}
  
footer p {
    color: #b3aeb5;
    font-size: 12px;
}
  
footer {
    padding-top: 30px;
    padding-bottom: 20px;
    background-color: #333;
}

  /* Responsive */
  /* Untuk Tablet */
@media all and (max-width: 1000px) {

    .top-wrapper h1 {
      font-size: 32px;
    }
    
    .top-wrapper h2 {
      font-size: 20px;
    }
}
  
  /* Untuk Smartphone */
@media all and (max-width: 700px) {
    body {
        overflow-x: hidden;
    }

    .logo img{
        margin-left: 15px;
    }

    nav {
        justify-content: space-between;
    }
    .nav-links {
        position: fixed;
        right: 0px;
        height: 92vh;
        top: 8vh;
        background-color: whitesmoke;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 50%;
        transform: translateX(100%);
        transition: transform 0.5s ease-in;
    }
    
    .nav-links li {
        opacity: 0;
    }
    
    .burger {
        display: block;
        cursor: pointer;
    }

    .article {
      width: 100%;
    }
    
    
    .top-wrapper {
      text-align: left;
    }
    
    .top-wrapper h1 {
      font-size: 24px;
      line-height: 36px;
    }
    
    .top-wrapper p {
      font-size: 14px;
      line-height: 20px;
    }
    .article-wrapper {
        padding: 0;
    }
    .heading h2 {
        font-size: 20px;
        line-height: 32px;
    }
    .text-contents {
        font-size: 18px;
        line-height: 28px;
    }
    footer {
        text-align: center;
      }
}

/* Responsive navbar */
.nav-active {
    transform: translateX(0%);
}

@keyframes navLinkFade {
from {
    opacity: 0;
    transform: translateX(50px);
}
to {
    opacity: 1;
    transform: translateX(0);
}
}

.toggle .line1 {
transform: rotate(-45deg) translate(-5px, 6px);
}

.toggle .line2 {
opacity: 0;
}

.toggle .line3 {
transform: rotate(45deg) translate(-5px, -6px);
}