@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;0,400;0,500;0,600;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600&display=swap');

/* Reset */
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style: none;
}

body {
  font-family: 'Poppins', sans-serif !important;
}

a {
  text-decoration: none;
}

p {
  font-size: 20px;
}

.btn-custom {
  background-color: #333 !important;
  color: #78ffd6 !important;
}

.btn-article {
  background-color: #4daaa7 !important;
  color: #fff !important;
}

.d-flex a {
  color: #4daaa7 !important;
}

.nav-item a {
  color: #64b9b7 !important;
}

.jumbotron {
  width: 100%;
  height: 100vh;
  padding: 2rem 1rem;
  margin-bottom: 2rem;
  background-image: url(/assets/img/bg.jpg);
  border-radius: 0.3rem;
  color: #fff;
  background: #007991; /* fallback for old browsers */
  background: -webkit-linear-gradient(to bottom, #78ffd6, #007991); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to bottom, #78ffd6, #007991); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.custom-header {
  background-color: #4daaa7 !important;
  color: #fff !important;
}

.img-main {
  width: 100% !important;
  max-height: 700px !important;
}

.img-thumbnail {
  width: 100% !important;
  height: 400px !important;
  object-fit: cover;
}

.main {
  padding-top: 30px;
  /* Media Sosial */
}

.main .container {
  background-color: #f5f5f5;
}

.main .container .media-sosial {
  padding: 200px 0;
  /* Responsive */
}

@media screen and (max-width: 768px) {
  .main .container .media-sosial {
    padding: 100px 0;
  }
}

.main .container .row .col-lg-2 {
  text-align: center;
}

.main .container .row .col-lg-2 a {
  text-align: center;
  font-size: 100px;
  color: #4daaa7;
  margin: 0 16px;
  -webkit-transition: 0.4s linear;
  transition: 0.4s linear;
  position: relative;
}

.main .container .row .col-lg-2 a::before,
.main .container .row .col-lg-2 a::after {
  content: '';
  position: absolute;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  -webkit-transition: 0.4s linear;
  transition: 0.4s linear;
}

.main .container .row .col-lg-2 a:hover {
  -webkit-transform: scale(0.8);
  transform: scale(0.8);
}

.main .container .row .col-lg-2 a:hover::before {
  border-left: 4px solid;
  border-right: 4px solid;
  -webkit-transform: skewX(20deg);
  transform: skewX(20deg);
}

.main .container .row .col-lg-2 a:hover::after {
  border-top: 4px solid;
  border-bottom: 4px solid;
  -webkit-transform: skewY(-20deg);
  transform: skewY(-20deg);
}
/* Akhir Media Sosial*/

footer .card-body {
  background-color: #4daaa7 !important;
  color: #fff;
}
